.header{
  
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#444;

}
.headerTitlesSm{
position: absolute;
top: 15%;
font-size: 100px;
color:#fff
}

.headerTitlesLg{
    position: absolute;
    top: 30%;
    font-size: 32px;
    color:#fff;

}
.headerImg{
    width:100%;
    height:80vh;
    margin-top: 0;
     object-fit: cover;
}
.bbtn{
    background-color:rgb(9, 155, 16) ;
    color:white;
    height:50px;
    border-radius: 30px;
    margin-left: 180px;
    margin-top: 30px;
    font-size: 20px;
    padding:0 10px;
}