.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:
      url("https://media.istockphoto.com/photos/top-view-of-a-blue-desktop-with-copy-space-picture-id1278436436?b=1&k=20&m=1278436436&s=170667a&w=0&h=QrFR5_k1AKgs-1ypGE0QhqHQlqZzBYbtVafn7rD8sUQ=");
    background-size: cover;
  }
  .registerTitile{
      font-size:50px ;
      color:black;
     
  }
  .registerForm {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    .registerForm  label {
      margin: 10px 0;
    }
    .registerInput {
      padding: 10px;
      background-color: white;
      border: none;
      border-radius: 10px;
    }
    
    .registerInput:focus {
      outline: none;
    }
    
    .registerButton {
      margin-top: 20px;
      cursor: pointer;
      background-color: lightcoral;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 10px;
      text-align: center;
    }
    .registersButton {
      position: absolute;
      top: 100px;
      right: 100px;
      background-color: teal;
      cursor: pointer;
      padding: 10px;
      border: none;
      color: white;
      border-radius: 10px;
    }  